
@font-face {
    font-family: fantasyfont;
    src: url(IMG/LifeCraft_Font.ttf);
}


:root {

    --primary:#130d14;
    --secondary: #0c0221; 
}


body {

    font-family: fantasyfont;
    background: linear-gradient(120deg, var(--primary), var(--secondary));
    background-size: cover;
    color: white ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 0px 0px;

}

#omega {

    display: flex;
    align-items: center;
    justify-content: center;

}


#mainEl {
    width: 300px;
    height: 500px;
    background: #14161c;
    padding: 100px;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 25px 0px 0px 0px;
    box-shadow:#000000 0px 0px 100px 20px;
   


}



#input {

    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

#quest-input {
    margin-bottom: 30px;
    background: #0c0e15;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-family: fantasyfont;
    color: white;
    font-weight: 400;
    font-size: 20px;


}

#pot {
    background-image: url(IMG/pot.webp);
    width: 300px;
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
    filter: drop-shadow(0px 0px 10px black)
    
}

#add-quest, #pull-quest, #complete-quest {

    width: 100px;
    height: 50px;
    font-family: fantasyfont;
    border: none;
    color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

#add-quest:hover, #pull-quest:hover, #complete-quest:hover {


    cursor: pointer;
    transform: scale(1.1);



    }

#add-quest:active, #pull-quest:active, #complete-quest:active {

    transform: scale(0.96 );


    
        }
    

#pull-quest {

    margin: 135px 5px 0px 0px;
    background-image: url(IMG/Button.png);
    background-size: cover;
    opacity: 0.2;
    width: 99px;
    height: 99px;

}

#add-quest {

    background-image: url(IMG/Button.png);
    background-size: cover;
    background-position: top;
    color: #c6faef;
    font-weight: 900;
}


h1 {

    font-size: 40px;
    margin: 0px 0px 100px 0px;
}


#selected-quest {

    background: #0c0e14 ;
    text-align: center;
    margin: 50px 0px 0px 0px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    padding: 15px 5px 5px 5px;
    box-shadow: #0066ff31 0px 0px 100px 10px;
}

#complete-quest {

    background-image: url(IMG/Button.png);
    background-size: cover;
    background-position: top;
    color: #c6faef;
    font-weight: 900;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    display: block;
    margin: 40px auto 0px auto;
    font-family: fantasyfont;
    font-size: 20px;


}

#firstContainer {

    margin: 0px;
}

#firstEl {

    width: 300px;
    height: 250px;
    background: #14161c;
    border: none;
    border-radius: 10px;
    margin: 0px 100px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    box-shadow: #000000 0px 0px 100px 20px;
    padding: 50px 0px 0px 0px;

    
}


  #button-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 




#output {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#level-display, #inventory-display {

    font-size: 30px;
    margin-bottom: 15px;
}

#experience-bar {
    width: 100%;
    height: 20px;
    background-color: #0d0e15;
    border-radius: 10px;
    overflow: hidden;
    margin: 40px 0px 0px 0px;
  }
  
  #experience-points {
    width: 0%;
    height: 100%;
    background-color: #00fffb;
    box-shadow: 0px 0px 20px  #00fffb;
    transition: width 0.5s;
  }

  #points {
    font-size: 30px;
  }

  #thirdEl {
    width: 300px;
    height: 300px;
    background: #14161c;
    border: none;
    border-radius: 10px;
    margin: 0px 0px 0px 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    box-shadow: #000000 0px 0px 100px 20px;
    padding: 50px 0px 0px 0px;

  }

  
  .app-icons {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    border: red 10px;
    padding: 0px 0px 0px 0px;
  }

 

  .icons {

    width: 60px;
    height: 60px;
    margin: 0px 20px 0px 20px;
    transition: transform 0.2s ease;
  }
 
  
  #bank {

    background-image: url(IMG/QustIconVQ.png);
    background-size: cover;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
  }

  #quests {
    background-image: url(IMG/Quest-icon.png);
    background-size: cover;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
  }

.icons:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.icons:active {

    transform: scale(0.96);
}


